<div>
  <div class="d-flex flex-row justify-content-between">
    <h1 class="mb-3 fw-light">Cities</h1>
    <a class="text-primary my-auto" style="cursor: pointer;" (click)="refresh()">
      <i class="fas fa-lg fa-arrows-rotate"></i>
    </a>
  </div>

  <div class="row">
    <div class="col-6 my-3" *ngFor="let model of data">
      <div class="card" *ngIf="model.name">
        <div class="card-body">
          <span class="card-title h5">{{model.name}}</span>, {{model.sys.country}}
          <img [src]="model.iconUrl" [title]="model.weather[0].description">
          <div class="card-text">
            <div class="text-capitalize text-muted">{{model.weather[0].description}}</div>
            <div>Temperature: {{model.main.temp}} {{currentUnit.label}}</div>
            <div>Feels like: {{model.main.feels_like}} {{currentUnit.label}}</div>
          </div>
          
          <button class="btn btn-sm btn-outline-primary float-end mt-3"
            routerLink="/cities/{{model.id}}">
            <i class="fas fa-chevron-right me-1"></i>See details
          </button>
        </div>
      </div>
    </div>
  </div>

</div>