<div class="row">
  <div class="col-7">
      <h5>Information</h5>
      <div class="row">
          <div class="col">
              <div class="ps-3">Temperature</div>
              <div class="ps-3">Feels like</div>
              <div class="ps-3">Pressure</div>
              <div class="ps-3">Humidity</div>
              <div class="ps-3">Min temperature</div>
              <div class="ps-3">Max temperature</div>
          </div>
          <div class="col">
              <div>{{model.main.temp}}</div>
              <div>{{model.main.feels_like}}</div>
              <div>{{model.main.pressure}} hPa</div>
              <div>{{model.main.humidity}}%</div>
              <div>{{model.main.temp_min}}</div>
              <div>{{model.main.temp_max}}</div>
          </div>
      </div>
  </div>
</div>